.app {
    border-bottom: 1px solid rgb(228, 224, 224);
}

input {
    color: silver;
    font-size: 15px;
}

input::placeholder {
    color: rgb(74, 74, 74);
}

.signUp {}

.signUp:hover {
    background-color: rgb(183, 54, 54);
}

.title {
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: rgba(0, 0, 0, 0.1);
    background-clip: text;

}

.search {
    color: rgb(24, 24, 24);
    font-size: 16px;
}

.search::placeholder {
    color: rgb(105, 105, 105);
    font-size: 13px;
}

.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}

/* From Uiverse.io by mrhyddenn */
/* From Uiverse.io by zanina-yassine */ 
#container {
  width: 60%;
  height: 500px;
  margin: auto auto;
  position: absolute;
  top: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  margin-bottom: 20px;
}

.loading-title {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
  color: white;
}

.loading-circle {
  display: block;
  border-left: 5px solid;
  border-top-left-radius: 100%;
  border-top: 5px solid;
  margin: 5px;
  animation-name: Loader_611;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sp1 {
  border-left-color: #F44336;
  border-top-color: #F44336;
  width: 40px;
  height: 40px;
}

.sp2 {
  border-left-color: #FFC107;
  border-top-color: #FFC107;
  width: 30px;
  height: 30px;
}

.sp3 {
  width: 20px;
  height: 20px;
  border-left-color: #8bc34a;
  border-top-color: #8bc34a;
}

@keyframes Loader_611 {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
  }

  25% {
    transform: rotate(90deg);
    transform-origin: right bottom;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: right bottom;
  }

  75% {
    transform: rotate(270deg);
    transform-origin: right bottom;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: right bottom;
  }
}
.suggest-box{
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 18px;
}